* {
  box-sizing: border-box;
  font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

.margin {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

/* Inicio */
.Div {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 10;
  display: hidden;
  transition: 0.5s;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Div.active {
  width: 100%;
  height: 600px;
}

.Header {
  width: 100%;
  height: 100px;
  background-color: #252680;
  color: #ffffff00;
  text-align: center;
}

.Main {
  height: 0%;
  display: none;
  background-color: #252680;
  transition: 0.5s;
  padding: 15px;
}

.Main.active {
  display: flex;
  height: 90%;
  background-color: #252680;
}

.NavBarContainer {
  width: 100%;
  display: flex;
  padding: 5px;
  background-color: #252680;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
  height: 50px;
  background-color: #090b94;
  color: #ffffff;
  border: solid 2px #6c757d;
  border-radius: 7px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin: 0px 5px; /* Sentido Horario: Cima Direita Baixo Esquerda */
}

button:focus {
  background-color: #6c757d;
  color: #000000;
}

button:hover {
  background-color: #252680;
  color: #000000;
}


.Iframe {
  display: flex;
  width: 100%;
  height: 600px;
}
@media (max-width: 1366px){
  .Iframe {
    display: flex;
    width: 100%;
    height: 500px;
  }
  .NavBarContainer {
    display: flex;
    width: 100%;
    padding: 5px;
    background-color: #252680;
    align-items: center;
    justify-content: center;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* .varHome{
  display: hidden;
} */

/* Final */
