* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

.margin {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

/* Inicio */
.Div {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 10;
  display: hidden;
  transition: 0.5s;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Div.active {
  width: 100%;
  height: 600px;
}

.Header {
  width: 100%;
  height: 100px;
  background-color: #252680;
  color: #ffffff00;
  text-align: center;
}

.Main {
  height: 0%;
  display: none;
  background-color: #252680;
  transition: 0.5s;
  padding: 15px;
}

.Main.active {
  display: flex;
  height: 90%;
  background-color: #252680;
}

.NavBarContainer {
  width: 100vw;
  padding: 10px;
  background-color: #252680;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
  height: 50px;
  background-color: #252680;
  color: #ffffff;
  border: solid 1px #6c757d;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  margin: 0px 5px; /* Sentido Horario: Cima Direita Baixo Esquerda */
}

button:hover {
  background-color: #6c757d;
  color: #000000;
}

.Iframe {
  width: 1650px;
  height: 700px;
}
@media (max-width: 1440px){
  .Iframe {
    width: 1440px;
    height: 600px;
  }
  .NavBarContainer {
    width: 1440px;
    padding: 10px;
    background-color: #252680;
    align-items: center;
    justify-content: center;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* .varHome{
  display: hidden;
} */

/* Final */
